
.post-list {
margin: 3%;
}
.meta-row{
  display: flex;
  gap: 8px;
  font-size: 0.95rem;
  color: black;
  margin-bottom: 6px;
}
.footer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
}
.single-post-container{
  padding:40px;
}